---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [6]:
import pandas as pd
import numpy as np
import re



energy = pd.read_excel('Energy Indicators.xls', skiprow=1, skipfooter=1)
energy.drop(['Unnamed: 0', 'Unnamed: 1'], axis = 1, inplace = True)
energy.columns =  ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy = energy.dropna()
energy['Country'] = energy['Country'].str.replace('\d+', '')  

en = energy[energy['Country'].str.contains('(', regex=False)]
for sen in en.index:
    s = energy.loc[sen]
    d = s['Country']
    s.loc['Country'] = s['Country'].split('(')[0]

for series in energy.index:
    s = energy.loc[series]
    sx = type(s.loc['Energy Supply'])
    sy = type(s.loc['Energy Supply per Capita'])
    sz = type(s.loc['% Renewable'])
    country = s.loc['Country']

    if (sx == str or sy == str or sz == str):
        s.loc['Energy Supply'] = np.float64(np.nan)
        s.loc['Energy Supply per Capita'] = np.float64(np.nan)
        s.loc['% Renewable'] = np.float64(np.nan)

    if (country == "Iran "):
        s['Country'] = 'Iran'

    if (country == "Republic of Korea"):
        s['Country'] = 'South Korea'

    elif (country == "United States of America"):
        s['Country'] = 'United States'

    elif (country == "United Kingdom of Great Britain and Northern Ireland"):
        s['Country'] = 'United Kingdom'

    elif (country == "China, Hong Kong Special Administrative Region"):
        s['Country'] = 'Hong Kong'

#     energy = energy.drop(8)
energy['Energy Supply'] = energy['Energy Supply']*1000000 
#     energy


GDP = pd.read_csv('world_bank.csv', skiprows=4, skipfooter=0)
GDP = GDP.rename(columns={'Country Name': 'Country'})
columns_to_keep = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
GDP = GDP[columns_to_keep]
GDP[GDP['Country'] == "Korea, Rep."] = 'South Korea'
GDP[GDP['Country'] == "Iran, Islamic Rep."] = 'Iran'
GDP[GDP['Country'] == "Hong Kong SAR, China"] = 'Hong Kong'
#     GDP
ScimEn = pd.read_excel('scimagojr-3.xlsx', skiprow=0, skipfooter=0)
ScimEn = ScimEn[0:15]

#     ScimEn

energy = energy.set_index('Country')
ScimEn = ScimEn.set_index('Country')
GDP = GDP.set_index('Country')
r = pd.merge(energy, GDP, how='inner', left_index=True, right_index=True)
result = pd.merge(r, ScimEn, how='inner', left_index=True, right_index=True)

for n in result.keys()[0:13]:
    for o in result[n]:

        if type(o) == str:
            result[n][o] = np.nan

    result[n] = np.float64(result[n])

C:\Users\SHOW\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
import pandas as pd
import numpy as np
import re

def answer_one():    
    energy = pd.read_excel('Energy Indicators.xls', skiprow=1, skipfooter=1)
    energy.drop(['Unnamed: 0', 'Unnamed: 1'], axis = 1, inplace = True)
    energy.columns =  ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy = energy.dropna()
    energy['Country'] = energy['Country'].str.replace('\d+', '')  

    en = energy[energy['Country'].str.contains('(', regex=False)]
    for sen in en.index:
        s = energy.loc[sen]
        d = s['Country']
        s.loc['Country'] = s['Country'].split('(')[0]

    for series in energy.index:
        s = energy.loc[series]
        sx = type(s.loc['Energy Supply'])
        sy = type(s.loc['Energy Supply per Capita'])
        sz = type(s.loc['% Renewable'])
        country = s.loc['Country']

        if (sx == str or sy == str or sz == str):
            s.loc['Energy Supply'] = np.float64(np.nan)
            s.loc['Energy Supply per Capita'] = np.float64(np.nan)
            s.loc['% Renewable'] = np.float64(np.nan)

        if (country == "Iran "):
            s['Country'] = 'Iran'

        if (country == "Republic of Korea"):
            s['Country'] = 'South Korea'

        elif (country == "United States of America"):
            s['Country'] = 'United States'

        elif (country == "United Kingdom of Great Britain and Northern Ireland"):
            s['Country'] = 'United Kingdom'

        elif (country == "China, Hong Kong Special Administrative Region"):
            s['Country'] = 'Hong Kong'

#     energy = energy.drop(8)
    energy['Energy Supply'] = energy['Energy Supply']*1000000 
#     energy


    GDP = pd.read_csv('world_bank.csv', skiprows=4, skipfooter=0)
    GDP = GDP.rename(columns={'Country Name': 'Country'})
    columns_to_keep = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    GDP = GDP[columns_to_keep]
    GDP[GDP['Country'] == "Korea, Rep."] = 'South Korea'
    GDP[GDP['Country'] == "Iran, Islamic Rep."] = 'Iran'
    GDP[GDP['Country'] == "Hong Kong SAR, China"] = 'Hong Kong'
#     GDP
    ScimEn = pd.read_excel('scimagojr-3.xlsx', skiprow=0, skipfooter=0)
    ScimEn = ScimEn[0:15]
    
#     ScimEn

    energy = energy.set_index('Country')
    ScimEn = ScimEn.set_index('Country')
    GDP = GDP.set_index('Country')
    r = pd.merge(energy, GDP, how='inner', left_index=True, right_index=True)
    result = pd.merge(r, ScimEn, how='inner', left_index=True, right_index=True)
    
    for n in result.keys()[0:13]:
        for o in result[n]:
            
            if type(o) == str:
                result[n][o] = np.nan
        
        result[n] = np.float64(result[n])
        
    en = result    
    return result

# answer_one()

C:\Users\SHOW\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
Australia,5.386000e+09,231.0,11.810810,1.021940e+12,1.060340e+12,1.099640e+12,1.119650e+12,1.142250e+12,1.169430e+12,1.211910e+12,1.241480e+12,1.272520e+12,1.301250e+12,14,8831,8725,90765,15606,10.28,107
Brazil,1.214900e+10,59.0,69.648030,1.845080e+12,1.957120e+12,2.056810e+12,2.054210e+12,2.208870e+12,2.295240e+12,2.339210e+12,2.409740e+12,2.412230e+12,2.319420e+12,15,8668,8596,60702,14396,7.00,86
Canada,1.043100e+10,296.0,61.945430,1.564470e+12,1.596740e+12,1.612710e+12,1.565140e+12,1.613410e+12,1.664090e+12,1.693130e+12,1.730690e+12,1.773490e+12,1.792610e+12,6,17899,17620,215003,40930,12.01,149
China,1.271910e+11,93.0,19.754910,3.992330e+12,4.559040e+12,4.997780e+12,5.459250e+12,6.039660e+12,6.612490e+12,7.124980e+12,7.672450e+12,8.230120e+12,8.798000e+12,1,127050,126767,597237,411683,4.70,138
France,1.059700e+10,166.0,17.020280,2.607840e+12,2.669420e+12,2.674640e+12,2.595970e+12,2.646990e+12,2.702030e+12,2.706970e+12,2.722570e+12,2.729630e+12,2.761190e+12,9,13153,12973,130632,28601,9.93,114
Germany,1.326100e+10,165.0,17.901530,3.332890e+12,3.441560e+12,3.478810e+12,3.283340e+12,3.417300e+12,3.542370e+12,3.556720e+12,3.567320e+12,3.624390e+12,3.685560e+12,7,17027,16831,140566,27426,8.26,126
India,3.319500e+10,26.0,14.969080,1.265890e+12,1.374870e+12,1.428360e+12,1.549480e+12,1.708460e+12,1.821870e+12,1.924240e+12,2.051980e+12,2.200620e+12,2.367210e+12,8,15005,14841,128763,37209,8.58,115
Iran,9.172000e+09,119.0,5.707721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,8896,8819,57470,19125,6.46,72
Italy,6.530000e+09,109.0,33.667230,2.202170e+12,2.234630e+12,2.211150e+12,2.089940e+12,2.125180e+12,2.137440e+12,2.077180e+12,2.040870e+12,2.033870e+12,2.049320e+12,11,10964,10794,111850,26661,10.20,106
Japan,1.898400e+10,149.0,10.232820,5.496540e+12,5.617040e+12,5.558530e+12,5.251310e+12,5.498720e+12,5.473740e+12,5.569100e+12,5.644660e+12,5.642880e+12,5.669560e+12,3,30504,30287,223024,61554,7.31,134
Russian Federation,3.070900e+10,214.0,17.288680,1.385790e+12,1.504070e+12,1.583000e+12,1.459200e+12,1.524920e+12,1.589940e+12,1.645880e+12,1.666930e+12,1.678710e+12,1.616150e+12,5,18534,18301,34266,12422,1.85,57
South Korea,1.100700e+10,221.0,2.279353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,11983,11923,114675,22595,9.57,104
Spain,4.923000e+09,106.0,37.968590,1.414820e+12,1.468150e+12,1.484530e+12,1.431480e+12,1.431670e+12,1.417350e+12,1.380220e+12,1.357140e+12,1.375610e+12,1.419820e+12,12,9428,9330,123336,23964,13.08,115
United Kingdom,7.920000e+09,124.0,10.600470,2.419630e+12,2.482200e+12,2.470610e+12,2.367050e+12,2.403500e+12,2.450910e+12,2.479810e+12,2.533370e+12,2.605640e+12,2.666330e+12,4,20944,20357,206091,37874,9.84,139
United States,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501150e+13,1.459480e+13,1.496440e+13,1.520400e+13,1.554220e+13,1.577370e+13,1.615660e+13,1.654860e+13,2,96661,94747,792274,265436,8.20,230

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [ ]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [7]:
def answer_two():
    rr = pd.merge(energy, GDP, how='inner', left_index=True, right_index=True)
    return len(rr) - 162
# answer_two()

24

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [8]:
def answer_three():
    Top15 = result
    Top = Top15.copy()
#     Top.loc['Iran'] = np.nan
#     Top.loc['South Korea'] = np.nan
    Top = Top.apply(avg, axis = 1)
    Top = Top.sort_values('Average',axis = 0, ascending = False, na_position = 'last')
    avgGDP = pd.Series([])
    for series in Top.index:
        s = pd.Series([Top.loc[series]], index = [series])
        avgGDP = avgGDP.append(s)
#     print(avgGDP[0].name)
    return avgGDP

def avg(row):
    data = row[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    avgGDP = pd.Series({'Average': np.mean(data), 'Average': np.mean(data)})
    
    return avgGDP

# answer_three()

United States         Average    1.536435e+13
Name: United States, d...
China                 Average    6.348610e+12
Name: China, dtype: fl...
Japan                 Average    5.542208e+12
Name: Japan, dtype: fl...
Germany               Average    3.493026e+12
Name: Germany, dtype: ...
France                Average    2.681725e+12
Name: France, dtype: f...
United Kingdom        Average    2.487905e+12
Name: United Kingdom, ...
Brazil                Average    2.189793e+12
Name: Brazil, dtype: f...
Italy                 Average    2.120175e+12
Name: Italy, dtype: fl...
India                 Average    1.769298e+12
Name: India, dtype: fl...
Canada                Average    1.660648e+12
Name: Canada, dtype: f...
Russian Federation    Average    1.565459e+12
Name: Russian Federati...
Spain                 Average    1.418079e+12
Name: Spain, dtype: fl...
Australia             Average    1.164041e+12
Name: Australia, dtype...
Iran                           Average   NaN
Name: Iran, dtype: float64
South Korea             Average   NaN
Name: South Korea, dtype: float64
dtype: object

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [10]:
def answer_four():
    Top15 = result
    Top = Top15.copy()
    columns_to_keep = ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    Top = Top[columns_to_keep]
    avgGDP = answer_three()
    country = avgGDP[5].name
    print (country)
    series = Top.loc[country]
    max = 0
    min = 0
    for numbers in series:
        if numbers > max:
            max = numbers
        
        if min == 0:
            min = numbers
        elif numbers < min:
            min = numbers
    return max - min
# answer_four()

United Kingdom

299280000000.0

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [12]:
def answer_five():
    Top15 = result
    return np.mean(Top15['Energy Supply per Capita'])
# answer_five()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [15]:
def answer_six():
    Top15 = result
    maximum = np.max(Top15['% Renewable'])
    countryDF = Top15[Top15['% Renewable'] == maximum]
    country = countryDF.index[0]
    res = (country, maximum)
    return res
# answer_six()

('Brazil', 69.64803)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [18]:
def answer_seven():
    Top15 = result
    Top15['Ratio'] = Top15['Self-citations'].div(Top15['Citations'])
    maximum = np.max(Top15['Ratio'])
    countryDF = Top15[Top15['Ratio'] == maximum]
    country = countryDF.index[0]
    res = (country, maximum)
    return res
# answer_seven()

('China', 0.6893126179389422)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [48]:
import math
def answer_eight():
    Top15 = result
    Top15['Population'] = Top15['Energy Supply'].div(Top15['Energy Supply per Capita'])
    Top15 = Top15.sort_values('Population',axis = 0, ascending = False, na_position = 'last')
    s = Top15.iloc[2].name
    return s
answer_eight()

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [22]:
def answer_nine():
    Top15 = result
    Top15 = Top15.copy()
    Top15['Population'] = Top15['Energy Supply'].div(Top15['Energy Supply per Capita'])
    Top15['Document/Capita'] = Top15['Citable documents'].div(Top15['Population'])
    Top15['Energy Supply per Capita'] = np.float64(Top15['Energy Supply per Capita'])
    Top15['Document/Capita'] = np.float64(Top15['Document/Capita'])
    row = ['Energy Supply per Capita', 'Document/Capita']
    Top15 = Top15[row]
    return Top15.corr().loc['Document/Capita']['Energy Supply per Capita']
# answer_nine()

0.7940010435442943

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
# plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [23]:
import math
def answer_ten():
    Top15 = result
    Top15 = Top15.sort_values('Rank',axis = 0, ascending = True, na_position = 'last')
    median = np.median(Top15['% Renewable'])
    for series in Top15.index:
        x = Top15.loc[series, '% Renewable']
        if (x >= median):  
            Top15.loc[series, 'Mean'] = 1
        elif x < median:
            Top15.loc[series, 'Mean'] = 0 
    HighRenew = Top15['Mean']
    for n in HighRenew.index:
        HighRenew[n] = int(math.ceil(HighRenew[n])*10/10)

    
    return HighRenew
# answer_ten()

C:\Users\SHOW\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Country
China                 1.0
United States         0.0
Japan                 0.0
United Kingdom        0.0
Russian Federation    1.0
Canada                1.0
Germany               1.0
India                 0.0
France                1.0
South Korea           0.0
Italy                 1.0
Spain                 1.0
Iran                  0.0
Australia             0.0
Brazil                1.0
Name: Mean, dtype: float64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [25]:
def answer_eleven():
    Top15 = result
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    s = ContinentDict['Brazil']
    
    for series in Top15.index:
        Top15.loc[series, 'Continent'] = ContinentDict[series]
    Top15 = Top15.reset_index()
    Top15 = Top15.sort_values('Continent',axis = 0, ascending = True, na_position = 'last')
    for x in Top15.index:
        Top15.loc[x, 'Size'] = len(Top15.loc[x])        

    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15 = Top15.set_index('Continent').groupby(level=0)['PopEst'].agg({'size': np.size, 'sum': np.sum, 'mean': np.mean, 'std': np.std})
    Top15 = Top15[['size', 'sum', 'mean', 'std']]
    
    return Top15
# answer_eleven()

C:\Users\SHOW\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

               size           sum          mean           std
Continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [27]:
def answer_twelve():
    Top15 = result
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    for series in Top15.index:
        Top15.loc[series, 'Continent'] = ContinentDict[series]
        
    Top15 = Top15.reset_index()
    Top15 = Top15.sort_values('Continent',axis = 0, ascending = True, na_position = 'last')
    Top15['Bins'] = pd.cut(Top15['% Renewable'],5)
    Top15 = Top15.groupby(['Continent', 'Bins']).size()
    return Top15
# answer_twelve()

Continent      Bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [32]:
def answer_thirteen():
    Top15 = result
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    p = []
    for i in Top15['PopEst']:
        i = str(i)
        s = i.split('.')[0]
        ss = i.split('.')[1]        
        if (len(s) == 8):
            sa = s[len(s)-8:len(s)-7]+s[len(s)-7:len(s)-6]+','+s[len(s)-6:len(s)-5]+s[len(s)-5:len(s)-4]+s[len(s)-4:len(s)-3]+','+s[len(s)-3:len(s)-2]+s[len(s)-2:len(s)-1]+s[len(s)-1:len(s)]+'.'+ss
            
        if (len(s) == 9):
            sa = s[len(s)-9:len(s)-8]+s[len(s)-8:len(s)-7]+s[len(s)-7:len(s)-6]+','+s[len(s)-6:len(s)-5]+s[len(s)-5:len(s)-4]+s[len(s)-4:len(s)-3]+','+s[len(s)-3:len(s)-2]+s[len(s)-2:len(s)-1]+s[len(s)-1:len(s)]+'.'+ss
        
        if (len(s) == 10):
            sa = s[len(s)-10:len(s)-9]+','+s[len(s)-9:len(s)-8]+s[len(s)-8:len(s)-7]+s[len(s)-7:len(s)-6]+','+s[len(s)-6:len(s)-5]+s[len(s)-5:len(s)-4]+s[len(s)-4:len(s)-3]+','+s[len(s)-3:len(s)-2]+s[len(s)-2:len(s)-1]+s[len(s)-1:len(s)]+'.'+ss   
        p.append(sa)
    Top15['String'] = [str(y) for y in p]
    return Top15['String']
# answer_thirteen()

Country
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Canada                  35,239,864.86486486
China                 1,367,645,161.2903225
France                  63,837,349.39759036
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Italy                  59,908,256.880733944
Japan                  127,409,395.97315437
Russian Federation            143,500,000.0
South Korea            49,805,429.864253394
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
United States          317,615,384.61538464
Name: String, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
# plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!